#stage {
    background-image: url(../img/background/stage.jpg);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.clone {
    opacity: 0.5;
}

.unit {
    position: absolute;
}

.skill {
    position: absolute;
}

.player {

}

.enemy {

}

.missile {
    opacity: 0.8;
}

.explosion {
    opacity: 0.8;
}


